Repository AY2122S2-CS2113T-T10-1/tp, pull requests merged in 2022-04, with the labels that each got.

#401 Enhanced implementation for person list class
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/command/GroupEditCommand.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionEditCommand.java
  src/main/java/seedu/splitlah/data/PersonList.java
Labels: type.Enhancement

#405 Update Front page README.md
  README.md
Labels: type.Task

#404 Add more JUnit tests to Session class
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/command/SessionViewCommand.java
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/data/SessionTest.java
Labels: backend.data, type.junit

#403 Update Developer guide
  docs/DeveloperGuide.md
  docs/images/developerguide/ArchitectureDiagram.drawio.png
  docs/images/developerguide/RefUpdateSession.png
Labels: type.DeveloperGuide

#431 Add assertions in Group class and ActivityViewCommand class
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/data/Group.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Low, backend.command

#430 Bug fixes for PED in parsing numeric values
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/data/ActivityTest.java
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: type.Bug, severity.Medium, backend.parser

#436 Modify user guide to answer questions posed in PED
  docs/UserGuide.md
Labels: type.Bug, severity.Low, type.UserGuide

#428 Bug Fixes for PED
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionEditCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionCreateCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionEditCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
  src/test/java/seedu/splitlah/command/SessionEditCommandTest.java
  src/test/java/seedu/splitlah/data/SessionTest.java
  text-ui-test/EXPECTED.TXT
Labels: type.Bug

#437 Minor additions to Parser class
  README.md
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserErrors.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/main/java/seedu/splitlah/ui/TextUI.java
  text-ui-test/EXPECTED.TXT
Labels: backend.parser

#434 GroupCreateCommandParser and GroupDeleteCommandParser class
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/command/GroupDeleteCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/GroupCreateCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/GroupDeleteCommandParser.java
Labels: priority.Low, backend.parser

#447 Docs userguide
  docs/UserGuide.md
  docs/images/userguide/ActivityCreateCommand[1].png
  docs/images/userguide/ActivityCreateCommand[2].png
  docs/images/userguide/ActivityDeleteCommand.png
  docs/images/userguide/ActivityEditCommand.png
  docs/images/userguide/ActivityListCommand.png
  docs/images/userguide/ActivityViewCommand.png
  docs/images/userguide/GroupCreateCommand.png
  docs/images/userguide/GroupDeleteCommand.png
  docs/images/userguide/GroupEditCommand[1].png
  docs/images/userguide/GroupEditCommand[2].png
  docs/images/userguide/GroupListCommand.png
  docs/images/userguide/GroupViewCommand.png
  docs/images/userguide/HelpCommand.png
  docs/images/userguide/SessionCreateCommand[1].png
  docs/images/userguide/SessionCreateCommand[2].png
  docs/images/userguide/SessionDeleteCommand.png
  docs/images/userguide/SessionEditCommand[1].png
  docs/images/userguide/SessionEditCommand[2].png
  docs/images/userguide/SessionListCommand.png
  docs/images/userguide/SessionSummaryCommand.png
  docs/images/userguide/SessionViewCommand.png
Labels: type.Bug, severity.VeryLow, type.UserGuide

#448 Resize images for user guide
  docs/images/userguide/ActivityListCommand.png
  docs/images/userguide/ActivityViewCommand.png
  docs/images/userguide/SessionListCommand.png
Labels: type.UserGuide

#450 Clean up user guide
  docs/images/developerguide/Profile Component.drawio.png
  docs/images/userguide/SessionListCommand.png
Labels: type.UserGuide

#444 Shift all parsing methods to ParserUtils and update Developer guide
  docs/DeveloperGuide.md
  docs/images/developerguide/ParserComponent.drawio.png
  docs/images/developerguide/RefCommandParser.drawio.png
  docs/images/developerguide/RefParser.drawio.png
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/command/GroupDeleteCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/ActivityCreateCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/ActivityDeleteCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/ActivityEditCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/ActivityListCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/ActivityViewCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/GroupCreateCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/GroupDeleteCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/GroupEditCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/GroupViewCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionCreateCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionDeleteCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionEditCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionSummaryCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionViewCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/parser/ParserTest.java
  src/test/java/seedu/splitlah/parser/ParserUtilsTest.java
Labels: type.Enhancement, severity.Medium, backend.parser, type.DeveloperGuide

#456 Set up PPP draft
  docs/team/tianle.md
Labels: priority.Low

#462 About us
  docs/AboutUs.md
  docs/team/roytang.md
Labels: type.Task

#463 Minor update to JUnit tests of Parser class
  src/main/java/seedu/splitlah/parser/ParserErrors.java
  src/test/java/seedu/splitlah/data/SessionTest.java
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: type.Task

#435 Update ActivityEditCommand to have optional arguments
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/command/ActivityEditCommand.java
  src/main/java/seedu/splitlah/data/Activity.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/ActivityEditCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/ActivityEditCommandTest.java
  src/test/java/seedu/splitlah/parser/commandparser/ActivityEditCommandParserTest.java
Labels: priority.High, backend.command

#460 Amend according to TA's advise
  docs/AboutUs.md
  docs/DeveloperGuide.md
  docs/images/developerguide/ComponentInteraction.drawio.png
  docs/images/developerguide/RefUpdateSession.png
  docs/images/developerguide/SessionCreateCommand.drawio.png
  docs/team/froststein.md
Labels: type.DeveloperGuide

#468 Add title to documentation
  docs/DeveloperGuide.md
  docs/UserGuide.md
Labels: type.UserGuide, type.DeveloperGuide

#473 Update PPP
  docs/team/froststein.md
Labels: type.Task

#472 Amend according to TA advice
  src/main/java/seedu/splitlah/data/Group.java
Labels: priority.Low

#476 Update PPP and fix bug
  docs/team/froststein.md
  src/main/java/seedu/splitlah/command/SessionEditCommand.java
Labels: type.Task

#479 PPP
  docs/team/froststein.md
Labels: type.Task

#480 Branch bugfix and testing
  src/main/java/seedu/splitlah/data/Manager.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionEditCommandParser.java
  text-ui-test/EXPECTED.TXT
  text-ui-test/input.txt
Labels: type.Bug

#452 Edit ActivityEdit in the UG as it now supports optional arguments
  docs/UserGuide.md
Labels: severity.High, type.UserGuide

#482 Edit ActivityEditCommand in the Developer Guide
  .gitignore
  docs/DeveloperGuide.md
  docs/images/developerguide/ActivityEditCommand.drawio.png
  text-ui-test/EXPECTED-UNIX.TXT
Labels: type.DeveloperGuide

#483 Docs developerguide
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#487 Update Developer Guide
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#490 Add Test case for activity view in DG
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#491 Update DG
  docs/DeveloperGuide.md
  docs/images/developerguide/ActivityViewCommand.drawio.png
  docs/images/developerguide/GroupEditCommand.drawio.png
  docs/images/developerguide/RefUpdateGroup.drawio.png
Labels: priority.Low, type.DeveloperGuide

#496 Update explanation in sections for PPP
  docs/team/froststein.md
Labels: type.Task

#497 Add styling
  docs/UserGuide.md
  docs/assets/css/style.scss
Labels: type.UserGuide

#499 Update PPP to include new contributions
  docs/team/froststein.md
Labels: type.Task

#502 Update Developer guide with navigation buttons
  docs/DeveloperGuide.md
Labels: type.DeveloperGuide

#503 Update PPP
  docs/team/froststein.md
Labels: type.Task
