Repository AY2122S2-CS2113T-T10-1/tp, pull requests merged in 2022-03, with the labels that each got.

#29 Implement TextUI
  src/main/java/seedu/duke/Duke.java
  src/main/java/seedu/duke/ui/TextUI.java
Labels: priority.Medium, backend.ui

#35 Branch main
  src/main/java/seedu/duke/Duke.java
  src/main/java/seedu/duke/ui/TextUI.java
  text-ui-test/EXPECTED.TXT
  text-ui-test/input.txt
Labels: backend.main

#37 Setup command package
  src/main/java/seedu/duke/command/Command.java
Labels: priority.High, backend.command

#47 Add InvalidFormatException class
  src/main/java/seedu/duke/exceptions/InvalidFormatException.java
Labels: priority.Medium, backend.exceptions

#50 Command session create
  src/main/java/seedu/duke/command/SessionCreateCommand.java
Labels: backend.command

#51 Add ActivityCost class
  src/main/java/seedu/duke/data/ActivityCost.java
Labels: priority.High, backend.data

#56 Branch activity create command
  src/main/java/seedu/duke/command/ActivityCreateCommand.java
Labels: backend.command

#58 Remove error checking from ActivityCost
  src/main/java/seedu/duke/data/ActivityCost.java
  src/main/java/seedu/duke/data/Profile.java
  src/main/java/seedu/duke/exceptions/InvalidDataException.java
  src/main/java/seedu/duke/exceptions/InvalidFormatException.java
  src/main/java/seedu/duke/ui/Message.java
  src/main/java/seedu/duke/ui/TextUI.java
Labels: backend.data

#60 updates for sessioncreatecommand class
  src/main/java/seedu/duke/command/SessionCreateCommand.java
Labels: backend.command

#64 Branch parser
  src/main/java/seedu/duke/parser/Parser.java
  src/main/java/seedu/duke/ui/Message.java
Labels: priority.High, backend.parser

#63 Command session delete
  src/main/java/seedu/duke/command/SessionCreateCommand.java
  src/main/java/seedu/duke/command/SessionDeleteCommand.java
Labels: backend.command

#66 Branch parser
  src/main/java/seedu/duke/parser/Parser.java
  src/main/java/seedu/duke/ui/Message.java
Labels: backend.parser

#70 Branch session
  src/main/java/seedu/duke/data/Session.java
Labels: backend.data

#71 Add SessionSummaryCommand class
  src/main/java/seedu/duke/command/SessionSummaryCommand.java
Labels: priority.Medium, backend.command

#75 Branch activity
  src/main/java/seedu/duke/data/Activity.java
Labels: backend.data

#77 Initialisation of ActivityListCommand class
  src/main/java/seedu/duke/command/ActivityListCommand.java
Labels: priority.Medium, backend.command

#79 Initialisation of ActivityViewCommand class
  src/main/java/seedu/duke/command/ActivityViewCommand.java
Labels: priority.Medium, backend.command

#81 Command exit
  src/main/java/seedu/duke/command/ExitCommand.java
Labels: backend.command

#84 Integration for ExitCommand
  src/main/java/seedu/duke/Duke.java
  src/main/java/seedu/duke/command/Command.java
  src/main/java/seedu/duke/command/ExitCommand.java
  src/main/java/seedu/duke/parser/Parser.java
  text-ui-test/input.txt
Labels: priority.Medium, backend.main, backend.command

#87 Branch manager
  src/main/java/seedu/duke/data/Manager.java
Labels: backend.main, backend.data, backend.ui

#89 integrate Manager class into existing Command classes
  src/main/java/seedu/duke/Duke.java
  src/main/java/seedu/duke/command/ActivityCreateCommand.java
  src/main/java/seedu/duke/command/ActivityListCommand.java
  src/main/java/seedu/duke/command/ActivityViewCommand.java
  src/main/java/seedu/duke/command/Command.java
  src/main/java/seedu/duke/command/ExitCommand.java
  src/main/java/seedu/duke/command/InvalidCommand.java
  src/main/java/seedu/duke/command/SessionCreateCommand.java
  src/main/java/seedu/duke/command/SessionDeleteCommand.java
  src/main/java/seedu/duke/command/SessionSummaryCommand.java
Labels: backend.main, backend.data, backend.ui

#90 Rectify issues found in Parser class and add additional error checking
  src/main/java/seedu/duke/parser/Parser.java
  src/main/java/seedu/duke/ui/Message.java
Labels: priority.High, backend.parser

#94 Add HelpCommand class
  src/main/java/seedu/duke/command/HelpCommand.java
  src/main/java/seedu/duke/parser/Parser.java
  src/main/java/seedu/duke/ui/Message.java
  src/main/java/seedu/duke/ui/TextUI.java
Labels: priority.Medium, backend.command, backend.parser

#105 added attributes for session list
  src/main/java/seedu/duke/command/SessionListCommand.java
  src/main/java/seedu/duke/parser/Parser.java
Labels: backend.command

#107 Branch activity delete command
  src/main/java/seedu/duke/command/ActivityDeleteCommand.java
Labels: backend.command

#109 add costPaid and costOwed to activityCost and modify Person to support these
  src/main/java/seedu/duke/data/ActivityCost.java
  src/main/java/seedu/duke/data/Person.java
Labels: priority.High, backend.data

#112 Integrate Person class into Session class
  src/main/java/seedu/duke/data/Session.java
  src/main/java/seedu/duke/ui/Message.java
Labels: priority.Medium, backend.data

#115 prepare function integration for SessionCreateCommand
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
Labels: backend.command

#117 Add getActivityCostId method to Person
  src/main/java/seedu/splitlah/data/Person.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.data

#118 Branch activity
  src/main/java/seedu/splitlah/data/Activity.java
Labels: priority.High, backend.data

#120 initial set up for run function in SessionCreateCommand
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: backend.command

#121 Integrate Activity class into Session class
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.data

#123 add getSession function to support activity commands
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: backend.command, backend.data

#129 Add removeActivityCost and doubleConfirm methods
  src/main/java/seedu/splitlah/data/ActivityCost.java
  src/main/java/seedu/splitlah/data/Person.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/main/java/seedu/splitlah/ui/TextUI.java
Labels: backend.data, backend.ui

#130 Rectify removeActivity() method in Session class
  src/main/java/seedu/splitlah/data/Session.java
Labels: priority.Low, backend.data

#131 Add method to support CreateActivityCommand class
  src/main/java/seedu/splitlah/data/Session.java
Labels: priority.Low, backend.data

#133 integration for SessionCreateCommand
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
Labels: backend.command

#136 add PersonCostPair utility class to support SessionSummaryCommand class
  src/main/java/seedu/splitlah/util/PersonCostPair.java
Labels: priority.Medium, backend.util

#140 Implement key functionality of SessionSummaryCommand class
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
Labels: priority.Medium, backend.command

#142 Rectify issue in Parser class
  src/main/java/seedu/splitlah/parser/Parser.java
Labels: priority.Medium, severity.Medium, backend.parser

#143 add prepare function for SessionDeleteCommand
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
Labels: backend.command

#141 Add relevant methods and Javadoc for ActivityCreateCommand
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.command

#144 Set overall standardisation for coding
  src/main/java/seedu/splitlah/SplitLah.java
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/command/Command.java
  src/main/java/seedu/splitlah/command/ExitCommand.java
  src/main/java/seedu/splitlah/command/HelpCommand.java
  src/main/java/seedu/splitlah/command/InvalidCommand.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionListCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/data/Activity.java
  src/main/java/seedu/splitlah/data/ActivityCost.java
  src/main/java/seedu/splitlah/data/Manager.java
  src/main/java/seedu/splitlah/data/Person.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/exceptions/InvalidDataException.java
  src/main/java/seedu/splitlah/exceptions/InvalidFormatException.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/main/java/seedu/splitlah/ui/TextUI.java
  src/main/java/seedu/splitlah/util/PersonCostPair.java
Labels: type.Task

#146 Misc javadocs
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/data/Profile.java
Labels: type.Task

#148 Update Activity class
  src/main/java/seedu/splitlah/data/Activity.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: backend.data

#149 junit test for SessionCreateCommand
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
Labels: type.junit

#152 Add JUnit tests for Parser class
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: priority.Low, type.junit

#154 Rectify error message for non-positive id input by user
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Low, backend.parser

#155 implement run function for SessionDeleteCommand
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/data/Profile.java
Labels: backend.command

#156 Update activityCreateCommand class
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
Labels: backend.command

#157 Update SessionSummaryCommand class to make it more functional
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.command

#158 user guide update
  docs/README.md
  docs/UserGuide.md
Labels: type.UserGuide

#159 Fix formatting of toString() method of Session class
  src/main/java/seedu/splitlah/data/Session.java
Labels: backend.data

#163 Fix unitialized list bug in Person class
  src/main/java/seedu/splitlah/data/Person.java
Labels: priority.High, backend.data

#161 complete SessionListCommand
  src/main/java/seedu/splitlah/command/SessionListCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/TextUI.java
Labels: backend.command

#166 Fix infinite loop bug in getUserConfirmation
  src/main/java/seedu/splitlah/ui/Message.java
  src/main/java/seedu/splitlah/ui/TextUI.java
Labels: priority.High, backend.ui

#170 Activity list command
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.command

#171 Activity view command
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.command

#174 Rectify some mistakes from #170 in ActivityListCommand
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
Labels: priority.Medium, backend.command

#173 test codes for SessionCreateCommand
  .gitignore
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
  text-ui-test/ACTUAL.TXT
  text-ui-test/EXPECTED.TXT
  text-ui-test/input.txt
Labels: backend.command, type.junit

#175 Debug and fix issues for activity related classes
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/data/Activity.java
Labels: backend.command, backend.data

#177 Add > prompt when expecting user input
  .gitignore
  src/main/java/seedu/splitlah/ui/Message.java
  src/main/java/seedu/splitlah/ui/TextUI.java
  text-ui-test/EXPECTED.TXT
Labels: priority.Low, backend.ui

#180 Add support for SessionListCommand class in Session class
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.command, backend.data

#179 Update JavaDocs formatting
  src/main/java/seedu/splitlah/command/InvalidCommand.java
  src/main/java/seedu/splitlah/data/ActivityCost.java
  src/main/java/seedu/splitlah/data/Person.java
  src/main/java/seedu/splitlah/exceptions/InvalidDataException.java
  src/main/java/seedu/splitlah/exceptions/InvalidFormatException.java
  src/main/java/seedu/splitlah/ui/TextUI.java
Labels: priority.Low, backend.data, backend.ui, backend.exceptions

#182 clean up javadocs for Session related commands
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionListCommand.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/ui/TextUI.java
Labels: backend.command, backend.data

#181 Clean up SessionSummaryCommand class and add JavaDocs comments
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: type.Story, priority.Medium, backend.command

#183 Update date parsing format in Parser class
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
Labels: priority.Medium, backend.parser

#185 Docs userguide
  docs/UserGuide.md
  docs/images/userguide/SessionCreateCommand.png
  docs/images/userguide/SessionDeleteCommand.png
  docs/images/userguide/SessionListCommand.png
Labels: priority.Low, type.UserGuide

#187 Add activity create in User Guide
  docs/UserGuide.md
Labels: type.UserGuide

#189 Add activityCost getter JUnit tests
  docs/UserGuide.md
  src/test/java/seedu/splitlah/data/ActivityCostTest.java
Labels: priority.Low, backend.data

#190 Add segment for session summary feature in user guide
  docs/UserGuide.md
Labels: type.UserGuide

#191 Add hasActivity() method to support ActivityDeleteCommand class
  src/main/java/seedu/splitlah/data/Session.java
Labels: backend.data

#192 Branch activity delete command
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
Labels: backend.command

#193 Add Intro, QuickStart, FAQ, Command Summary, Table of Contents to UG
  docs/UserGuide.md
  docs/_config.yml
Labels: priority.Low, type.UserGuide

#196 Fix Contents, How to use Splitlah, Quick notes
  docs/UserGuide.md
Labels: priority.Low, type.UserGuide

#198 screenshot update for userguide
  docs/UserGuide.md
  docs/images/userguide/ActivityCreateCommand[1].png
  docs/images/userguide/ActivityCreateCommand[2].png
  docs/images/userguide/SessionListCommand.png
  docs/images/userguide/SessionSummaryCommand.png
  src/main/java/seedu/splitlah/command/SessionListCommand.java
Labels: type.UserGuide

#199 Furnish JavaDoc comments to Parser class
  src/main/java/seedu/splitlah/parser/Parser.java
Labels: priority.Low, backend.parser

#201 Docs developerguide
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/developerguide/ArchitectureDiagram.drawio.png
  docs/images/developerguide/ManagerComponent.drawio.png
Labels: type.DeveloperGuide

#203 Add user guide for activity delete command
  docs/UserGuide.md
Labels: type.UserGuide

#204 UserGuide for ActivityViewCommand and ActivityListCommand
  docs/UserGuide.md
  docs/images/userguide/ActivityListCommand.png
  docs/images/userguide/ActivityViewCommand.png
Labels: priority.Low, type.UserGuide

#206 Add Junit tests for Activity Create Command
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/ActivityCreateCommandTest.java
Labels: type.junit

#207 junit test for SessionCreateCommand
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
  text-ui-test/EXPECTED.TXT
Labels: priority.Low, type.junit

#210 Furnish help menu message in Message class
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/command/ExitCommand.java
  src/main/java/seedu/splitlah/command/HelpCommand.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionListCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/main/java/seedu/splitlah/ui/TextUI.java
Labels: priority.Medium, backend.command, backend.ui

#209 junit test for SessionDeleteCommand
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
  src/test/java/seedu/splitlah/command/SessionDeleteCommandTest.java
Labels: type.junit

#211 Update Activity Create Command and Junit tests
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/test/java/seedu/splitlah/command/ActivityCreateCommandTest.java
Labels: backend.command, type.junit

#212 Add more JUnit test methods for Parser class
  src/main/java/seedu/splitlah/parser/Parser.java
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: backend.parser, type.junit

#214 update for Developer guide
  docs/DeveloperGuide.md
  docs/images/developerguide/ArchitectureDiagram.drawio.png
  docs/images/developerguide/ComponentInteraction.drawio.png
Labels: priority.Medium, type.DeveloperGuide

#220 Amend output message for session create command error
  src/main/java/seedu/splitlah/ui/Message.java
  text-ui-test/EXPECTED.TXT
Labels: type.Bug, severity.Low

#216 Add Name and NameTest classes
  docs/UserGuide.md
  src/main/java/seedu/splitlah/data/Name.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/data/NameTest.java
Labels: priority.Low, backend.data

#218 Fix bugs in Activity Create Command
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
Labels: backend.command

#213 Clean up User Guide
  docs/UserGuide.md
Labels: type.UserGuide

#221 Add error checks to fix bugs found
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: type.Bug, severity.Medium, backend.parser

#222 Branch bugfix and testing
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionListCommand.java
  src/main/java/seedu/splitlah/data/Name.java
  src/main/java/seedu/splitlah/data/Person.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/main/java/seedu/splitlah/ui/TextUI.java
  text-ui-test/EXPECTED.TXT
Labels: type.Bug, severity.Low

#223 update on user guide
  docs/UserGuide.md
  docs/images/userguide/ActivityCreateCommand[1].png
  docs/images/userguide/ActivityCreateCommand[2].png
  docs/images/userguide/ActivityDeleteCommand.PNG
  docs/images/userguide/ActivityListCommand.png
  docs/images/userguide/ActivityViewCommand.png
  docs/images/userguide/SessionCreateCommand.png
  docs/images/userguide/SessionDeleteCommand.png
  docs/images/userguide/SessionListCommand.png
  docs/images/userguide/SessionSummaryCommand.png
Labels: type.UserGuide

#227 more test functions for SessionCreateCommand
  src/main/java/seedu/splitlah/data/Profile.java
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
Labels: backend.command, type.junit

#232 Add logger for Manager Class
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/data/Manager.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: backend.data

#230 Add more JUnit tests to Parser class
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: backend.parser, type.junit

#233 Add Junit tests for Activity Delete Command
  src/test/java/seedu/splitlah/command/ActivityDeleteCommandTest.java
Labels: type.junit

#249 Branch logger
  src/main/java/seedu/splitlah/SplitLah.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/data/Manager.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Low, backend.command, backend.data

#248 Add Junit tests for Activity List Command and Activity View Command
  src/test/java/seedu/splitlah/command/ActivityListCommandTest.java
  src/test/java/seedu/splitlah/command/ActivityViewCommandTest.java
Labels: priority.Low, type.junit

#250 Add more JUnit tests for Parser class parse methods
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: backend.parser, type.junit

#252 junit for Profile class
  src/main/java/seedu/splitlah/command/Command.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/test/java/seedu/splitlah/data/ProfileTest.java
Labels: priority.Low, type.junit

#251 Set up Group class
  src/main/java/seedu/splitlah/data/Group.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.High, backend.data

#256 Add logging statements to SessionSummaryCommand class
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: type.Task, backend.command

#258 Add assert and logging in ActivityListCommand class
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Low

#262 Add logging and assertions
  src/main/java/seedu/splitlah/command/InvalidCommand.java
  src/main/java/seedu/splitlah/data/ActivityCost.java
  src/main/java/seedu/splitlah/data/Manager.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Low, backend.command, backend.data

#257 Update Activity Create Command
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/ActivityCreateCommandTest.java
Labels: backend.command, type.junit

#270 Change logging level in ActivityCost
  src/main/java/seedu/splitlah/data/ActivityCost.java
Labels: priority.Low, backend.data

#268 Add supporting functions for Group class in Profile Class
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.High, backend.data

#264 Add more JUnit tests to Parser class for public parse methods
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: backend.parser, type.junit

#271 Update Junit tests for Activity Create Command
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/ActivityCreateCommandTest.java
Labels: type.junit

#272 More Junit test functions for SessionCreateCommand class
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
Labels: priority.Low, type.junit

#274 Update JavaDocs and add support for Group Class in Parser class
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.High, backend.parser

#278 revamp SessionDeleteCommand Class
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/test/java/seedu/splitlah/command/SessionDeleteCommandTest.java
Labels: priority.High, type.Bug, backend.command

#280 Update Activity Delete Command
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/ActivityDeleteCommandTest.java
Labels: backend.command, type.junit

#276 Set up GroupCreateCommand class
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/data/Group.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.command

#279 Docs developerguide
  docs/DeveloperGuide.md
  docs/images/developerguide/ComponentInteraction.drawio.png
  docs/images/developerguide/ManagerComponent.drawio.png
  docs/images/developerguide/Profile Component.drawio.png
Labels: type.DeveloperGuide

#283 Integrate Group class into Session class
  build.gradle
  src/main/java/seedu/splitlah/data/Session.java
  text-ui-test/EXPECTED.TXT
Labels: type.Task, priority.Medium, backend.data

#281 Setup GroupDeleteCommand class
  src/main/java/seedu/splitlah/command/GroupDeleteCommand.java
  src/main/java/seedu/splitlah/data/Group.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/parser/Parser.java
Labels: priority.Medium, backend.command

#285 Group integration with SessionCreateCommand
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/data/Person.java
  src/main/java/seedu/splitlah/data/PersonList.java
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/ui/Message.java
  text-ui-test/EXPECTED.TXT
Labels: type.Enhancement, backend.command

#289 Refactoring of Parser class into smaller classes and bug fixes
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/command/GroupDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserErrors.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: type.Enhancement, type.Bug, priority.Medium, severity.Low, backend.parser

#290 Add Group View Command
  src/main/java/seedu/splitlah/command/GroupViewCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: priority.Medium, backend.command

#291 Add new test cases for SessionCreateCommand class
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/data/PersonList.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
Labels: backend.command, type.junit

#292 Add getGroupSummary() method for Group class
  src/main/java/seedu/splitlah/data/Group.java
Labels: priority.Medium, backend.data

#294 Modify parseGst() and parseServiceCharge() in Parser class to support decimal points
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserErrors.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/parser/ParserTest.java
Labels: type.Enhancement, priority.Low, backend.parser

#301 Add InvalidFormatExceptionTest JUnit tests
  src/test/java/seedu/splitlah/exceptions/InvalidFormatExceptionTest.java
Labels: priority.Medium, backend.exceptions

#303 Remove user confirmation method
  src/main/java/seedu/splitlah/ui/TextUI.java
Labels: priority.Low, backend.ui

#305 Integrate PersonList with Group related commands
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/data/Group.java
  src/main/java/seedu/splitlah/data/PersonList.java
Labels: type.Enhancement, backend.command

#307 Add details of Parser component into Developer guide
  docs/DeveloperGuide.md
  docs/images/developerguide/ParserComponent.drawio.png
Labels: backend.parser, type.DeveloperGuide

#308 Minor updates to user guide
  docs/UserGuide.md
Labels: priority.Low, type.UserGuide

#306 Add Junit tests for Group View Command
  src/test/java/seedu/splitlah/command/ActivityCreateCommandTest.java
  src/test/java/seedu/splitlah/command/ActivityDeleteCommandTest.java
  src/test/java/seedu/splitlah/command/GroupViewCommandTest.java
Labels: type.junit

#309 Set up storage class
  .gitignore
  src/main/java/seedu/splitlah/SplitLah.java
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/command/GroupDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/data/Activity.java
  src/main/java/seedu/splitlah/data/ActivityCost.java
  src/main/java/seedu/splitlah/data/Group.java
  src/main/java/seedu/splitlah/data/Manager.java
  src/main/java/seedu/splitlah/data/Name.java
  src/main/java/seedu/splitlah/data/Person.java
  src/main/java/seedu/splitlah/data/PersonList.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/storage/Storage.java
  src/main/java/seedu/splitlah/ui/Message.java
  text-ui-test/EXPECTED.TXT
Labels: priority.High, type.Enhancement, backend.data

#311 Implement CommandParser class
  src/main/java/seedu/splitlah/command/HelpCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/CommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/HelpCommandParser.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionSummaryCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: backend.command, backend.parser

#313 Integrate Name into Person
  src/main/java/seedu/splitlah/data/Name.java
  src/main/java/seedu/splitlah/data/Person.java
  src/test/java/seedu/splitlah/data/NameTest.java
Labels: priority.Medium, backend.data

#315 Update User Guide
  docs/UserGuide.md
Labels: type.UserGuide

#314 Standardize javadocs for all classes in SplitLah
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/command/ActivityListCommand.java
  src/main/java/seedu/splitlah/command/ActivityViewCommand.java
  src/main/java/seedu/splitlah/command/Command.java
  src/main/java/seedu/splitlah/command/ExitCommand.java
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/command/GroupDeleteCommand.java
  src/main/java/seedu/splitlah/command/GroupListCommand.java
  src/main/java/seedu/splitlah/command/GroupViewCommand.java
  src/main/java/seedu/splitlah/command/HelpCommand.java
  src/main/java/seedu/splitlah/command/InvalidCommand.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionListCommand.java
  src/main/java/seedu/splitlah/command/SessionSummaryCommand.java
  src/main/java/seedu/splitlah/data/Activity.java
  src/main/java/seedu/splitlah/data/ActivityCost.java
  src/main/java/seedu/splitlah/data/Group.java
  src/main/java/seedu/splitlah/data/Manager.java
  src/main/java/seedu/splitlah/data/Person.java
  src/main/java/seedu/splitlah/data/PersonList.java
  src/main/java/seedu/splitlah/data/Profile.java
  src/main/java/seedu/splitlah/data/Session.java
  src/main/java/seedu/splitlah/exceptions/InvalidDataException.java
  src/main/java/seedu/splitlah/exceptions/InvalidFormatException.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/storage/Storage.java
  src/test/java/seedu/splitlah/command/ActivityDeleteCommandTest.java
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
  src/test/java/seedu/splitlah/command/SessionDeleteCommandTest.java
  src/test/java/seedu/splitlah/data/ActivityCostTest.java
  src/test/java/seedu/splitlah/data/NameTest.java
  src/test/java/seedu/splitlah/data/ProfileTest.java
Labels: type.Task

#318 Update HelpCommand class
  docs/UserGuide.md
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/HelpCommandTest.java
  src/test/java/seedu/splitlah/parser/commandparser/HelpCommandParserTest.java
Labels: backend.command, type.UserGuide

#328 Integrate SessionListCommand class to use new Parser classes
  src/main/java/seedu/splitlah/command/SessionListCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionListCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
Labels: type.Enhancement, backend.command

#326 Add Group List Command in Developer Guide
  docs/DeveloperGuide.md
  docs/UserGuide.md
  docs/images/developerguide/GroupListCommand.drawio.png
Labels: type.DeveloperGuide

#320 Add TableFormatter class
  src/main/java/seedu/splitlah/ui/TableFormatter.java
  src/main/java/seedu/splitlah/ui/TableFormatterRow.java
Labels: priority.Medium, backend.ui

#325 Add group create and group delete command in UserGuide
  docs/UserGuide.md
Labels: priority.Low, type.UserGuide

#331 Docs developerguide
  docs/DeveloperGuide.md
  docs/images/developerguide/ArchitectureDiagram.drawio.png
  docs/images/developerguide/ComponentInteraction.drawio.png
  docs/images/developerguide/GroupListCommand.drawio.png
  docs/images/developerguide/ManagerComponent.drawio.png
  docs/images/developerguide/Profile Component.drawio.png
  docs/images/developerguide/SessionCreateCommand.drawio.png
  docs/images/developerguide/SessionListCommand.drawio.png
  docs/images/developerguide/SplitLahComponent.drawio.png
Labels: type.DeveloperGuide

#333 TextUI Developer Guide
  docs/DeveloperGuide.md
  docs/images/developerguide/TextUIComponent.drawio.png
Labels: priority.Low, backend.ui

#335 Add GroupCreateCommand sequence diagram
  docs/images/developerguide/GroupCreateCommand.drawio.png
Labels: priority.Low, type.DeveloperGuide

#338 Docs userguide
  docs/UserGuide.md
  docs/images/userguide/ActivityDeleteCommand.PNG
  docs/images/userguide/ActivityDeleteCommand.png
  docs/images/userguide/GroupCreateCommand.png
  docs/images/userguide/GroupDeleteCommand.png
  docs/images/userguide/GroupListCommand.png
  docs/images/userguide/GroupViewCommand.png
  docs/images/userguide/HelpCommand.png
Labels: type.UserGuide

#339 Developer guide for GroupCreateCommand
  docs/DeveloperGuide.md
  src/main/java/seedu/splitlah/command/ActivityCreateCommand.java
  src/main/java/seedu/splitlah/command/ActivityDeleteCommand.java
  src/main/java/seedu/splitlah/command/GroupCreateCommand.java
  src/main/java/seedu/splitlah/command/GroupDeleteCommand.java
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  text-ui-test/EXPECTED.TXT
Labels: priority.Low, type.DeveloperGuide

#341 Integrate SessionCreateCommand with CommandParser
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionCreateCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/SessionCreateCommandTest.java
  src/test/java/seedu/splitlah/parser/commandparser/SessionCreateCommandParserTest.java
Labels: type.Enhancement, priority.Medium, backend.command

#342 Add new JUnit tests to Parser class and SessionSummaryCommandParser class
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserErrors.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionSummaryCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/HelpCommandTest.java
  src/test/java/seedu/splitlah/parser/ParserTest.java
  src/test/java/seedu/splitlah/parser/commandparser/HelpCommandParserTest.java
  src/test/java/seedu/splitlah/parser/commandparser/SessionSummaryCommandParserTest.java
Labels: backend.parser, type.junit

#344 Integrate SessionDeleteCommand with CommandParser class
  src/main/java/seedu/splitlah/command/SessionCreateCommand.java
  src/main/java/seedu/splitlah/command/SessionDeleteCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/SessionDeleteCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/command/SessionDeleteCommandTest.java
  src/test/java/seedu/splitlah/data/ProfileTest.java
  src/test/java/seedu/splitlah/parser/commandparser/SessionDeleteCommandParserTest.java
Labels: type.Enhancement, backend.command

#345 Integrate ExitCommandParser with existing ExitCommand
  src/main/java/seedu/splitlah/command/ExitCommand.java
  src/main/java/seedu/splitlah/parser/Parser.java
  src/main/java/seedu/splitlah/parser/ParserUtils.java
  src/main/java/seedu/splitlah/parser/commandparser/ExitCommandParser.java
  src/main/java/seedu/splitlah/ui/Message.java
  src/test/java/seedu/splitlah/parser/commandparser/ExitCommandParserTest.java
Labels: type.Enhancement, backend.command
